In [1]:
l = [1,2,3,4,45,5]

In [4]:
def test(l):
    l1 = []
    for i in l :
        l1.append(i**2)
    return l1

In [5]:
test(l)

[1, 4, 9, 16, 2025, 25]

In [8]:
def sq(x):
    return x**2

In [10]:
Q4.Write a one line code for squaring the value in the list by using special functions.
# Q4 . Write your code here

[1, 4, 9, 16, 2025, 25]

In [5]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]

In [10]:
#Write a efficient code to add both the list and return the resultant list. 
# Q5 Write your code here.
l3 = [1,2,3,4,5]
for i in range(5):
    l3[i] = l1[i] + l2[i]
print(l3)

[7, 9, 11, 13, 15]

In [11]:
s = "abhiraj"
#Q6 . Write a code to convert this string into uppercase and store in list.

In [22]:
# Write your code here
l = [ ]
s.upper().split()
print(s)

abhiraj

In [23]:
l = [1,2,3,4,5,4]

In [22]:
def add(x,y):
    return x+y

In [24]:
#Q7 Write a code to add the final value present in list by using special functions.

# # Write your code here

19

In [26]:
l

[1, 2, 3, 4, 5, 4]

In [31]:
## Q8 Write a one line efficient code to find the greatest number present in list .

5

In [18]:
l = [1,2,3,4,5,4]

In [19]:
## Q8 Find the even value present in above list
## Write your code here
for i in l:
    if(i%2==0):
        print(i)
#sample output

2
4
4

In [20]:
## Q9 Find the odd value present in above list(l).
## Write your code here
for i in l:
    if(i%2!=0):
        print(i)
#sample output

1
3
5

In [36]:
l1 = [-2,4,5,6,-3,-6,-7]

In [21]:
## Q9 Find the negative value present in above list(l1).
## Write your code here
for i in l:
    if(i<0):
        print(i)
#sample output

In [40]:
l2 = ["abhi" , "raj" , "kumar" , "bengalore" , "shekhar"]

##Q10 Filter out the string with lenght is less than and equal to six from the above list and return in list.

## Write your code here